<html>
	<head>
		<meta charset='utf-8' />
	</head>
	<body>
		<h1>{{capitalize (format_date month '%B')}}</h1>
		<div>{{{markdown text}}}</div>
		<table>
			<tbody>
				{{#each events as |event|}}
					<tr>
						<td>{{{format_date event.date '%e&nbsp;%B'}}}</td>
						<td>{{#if event.time}}{{format_time event.time '%H:%M'}}{{/if}}</td>
						<td>{{event.assigneeName}}</td>
						<td>{{event.place}}</td>
						<td>{{event.extraInfo}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</body>
</html>
